@media (min-width:800px){
    .contacts .contact-space{
        flex-direction:row;
        justify-content: top;
        align-items: flex-start;
        
    }
    .contacts .contact-space{
        padding:0.5rem ;
    }
    .contacts .contact-space h3{
        font-size: 1.2rem;
    }
    .project-list{
        flex-direction: row;
    }
    
}